:root {
    --primary: #A1E8EE;
    --secondary: #3A7CA5;
    --tertiary: #0A2239;
}

h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, dl, dt, dd, figure, figcaption, div, table, tr, td, th, form, label, input, select, option, textarea, button {
  color: var(--tertiary);
}


/* * {
  border: 2px solid black;
} */

.bg-color {
  background-color: var(--primary);
}

.bg-color-secondary {
  background-color: var(--secondary);
}

.btn-acc {
  cursor: pointer;
}

.btn-acc:hover{

 box-shadow: 3px 3px  var(--tertiary);
}

.solid {
  font-style: italic;
}

.color-sc {
  color: var(--secondary);
}
.border-sc {
  border: 2px solid var(--secondary);
}